body {
    background-color:black;
    font-family:sans-serif;
    background-position: top;
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: 'IM Fell English', serif;
        text-transform:uppercase;  
    font-size: 37px;
    padding:0;
    margin:10px;
    color: #D8A46B;
    

}

h1 a{
    text-decoration: none;
    color: #D8A46B;
}

#center #login-error {
    color: white;
    font-weight: bold;
    text-align: center;
}

#title{
    color: burlywood;
}
#container{
    max-width:100%;
    margin: 0px;
    position:relative;
}
#canvas-container{
    display:inline;
    margin: 0 auto;
    position:relative;
}
#stage { 
    position:relative;
    text-align: center;
    margin: 0 auto;
    display:none;
    
}

#start span {
    color: burlywood;
    font-family:  'IM Fell English', serif;
    font-size: 30px;
}
#center a{
    font-size: 40px;
    color:burlywood;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
}

#center a:hover{
        color: #eee1c2;
}


#center form{
    padding-top: 30px;
        font-size: 20px;
    color:burlywood;
    text-decoration: none;
    text-align: center;
    padding-top:-30px; 
    margin-top: 0;
    line-height: 30px;
}
#center button {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    background-color: #ffd266;
    border-width:0px;
    border-radius: 5px;
}

#center button:hover {
    background-color: #d37f35;
    cursor: pointer;
}

#center h1{
    padding-top:15px;
    font-size: 50px;
}
#center{
    display:inline;
    float:left;
    height: 490px;
    overflow-y:scroll;
    width:100%;
    text-align:center;
    background: url(../images/background_darker.jpg);
    background-size: 100%;
}

#center p{
 text-align:left;
    line-height:22px;
    color:burlywood;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
}

#center h3{
    color:burlywood;
    line-height:25px;
    text-align:left;
    padding-left:20px;
    padding-right:20px;
}

        #waiting {
            color:rgba(242, 192, 64);
            text-align:center;
            font-size: 30px;
            padding-top: 50px;
        }

        #waiting h3{ 
            text-align:center;
        }

       .sidebar {
            display:inline;
            font-family: sans-serif;
            font-size: 15px;
            font-weight: bold;
            float:left;
            word-wrap: break-word;
            width: 100%;
            height: 85px;
            margin: 0px;
            background-color:sandybrown;
        }

        .sidebar h2{
            margin-top: 15px;
            max-width: 100px;
        }

        #player1 .update {
            float: right;
        }

        #player1 h2 {
            float: left;
        }

        #player2 .avatar{
            float: right;
        }

        #player2 h2 {
            float: right;
            text-align: right;
        }

        #player2 .update {
            float: left; 
        }
  
        .avatar img{
            width: 70px;
            height: 70px;
            border-radius: 100%;
        }
        .avatar {
            height: 70px;
            background-color: #A14D34;
            color: #d0975e;
            text-align: center;
            font-weight: normal;
            font-size: 10pt;
            border-radius: 100%;
            width: 70px;
            float: left;
            margin-top: 6px;
            margin-left: 10px;
            margin-right: 10px;        
        }
        #topleft{
            float:left;
        }
        img.trim{
            width:160px;
            height: 70px;
        }
        header {
            width:100%;
            height:70px;
            background: url(../images/midde_top_header_bg.png);
            padding:0;
            text-align:center;
            box-sizing: border-box;
            border: 5px solid #D8A46B;

        }
        footer {
            float:left;
            width:100%;
            height:70px;
            color: #D8A46B;
            line-height:60px;
            font-size:1.8rem;
            text-align:center;
            background: url(../images/middle_bottom_footer_bg.png);
            box-sizing: border-box;
            border: 5px solid #D8A46B;
        }

        footer a{
            color: #D8A46B;
            text-decoration: none;
            padding-top:10px;
            padding: .5rem .8rem;
             font-family: 'IM Fell English', serif;
             text-transform:uppercase; 

}
        #topbar{
            top:0px; 
            max-width: 100%;
        }
        #bottombar{
           display:inline-block;
            left: 0px;
            margin-top: -5;
            width: 100%;
        }
        #bottomleft{
         float:left;

 
           
        }

        .update {
            color: #A14D34;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-family: 'IM Fell English', serif;
            padding-right: 10px;
            padding-left: 10px;
            margin-top: 10px;
            width:120px
        
        }
        #hidden-table{
            visibility:hidden;
        }

.btn {
  background: #A14D34;
  background-image: -webkit-linear-gradient(top, #A14D34, #57340f);
  background-image: -moz-linear-gradient(top, #A14D34, #57340f);
  background-image: -ms-linear-gradient(top, #A14D34, #57340f);
  background-image: -o-linear-gradient(top, #A14D34, #57340f);
  background-image: linear-gradient(to bottom, #A14D34, #57340f);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 3px #ebc373;
  -moz-box-shadow: 0px 1px 3px #ebc373;
  box-shadow: 0px 1px 3px #ebc373;
  font-family: Arial;
  color: #D8A46B;
  font-size: 20px;
  border: solid #d9b46a 1px;
  text-decoration: none;
}

.btn:hover {
  background: #74421d;
  text-decoration: none;
    

}

.playagain {
    visibility: hidden;
    font-size: 20px;
    width: 120px;
    margin-top: 15px;
    padding-top: 1px;
    background: #5c2a13;
    color: #D8A46B;
    border: solid #d9b46a 1px;
    font-family: 'IM Fell English', serif;
    
}

.playagain:hover {
    background: #7a340d;
    
}

#lobby-table {
    background-color: black;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #7a340d;
    list-style-type: none;
    padding: 0px;
    color: #ffd266;
}

#lobby-table .row {
    border-bottom: 1px solid #7a340d;
    height: 50px;
}

#lobby-table .row img {
    float: left;
    margin-left: 0px;
    
}

#lobby-table .row span {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

#lobby-table .row .join-game {
    float: right;
    margin: 5px;
}



input    {
width:200px;
border: 1px solid #999;
    font-size: 20px;
height: 40px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#center p.playercount {
 font-size: 15px;
   text-align:center;
}

figcaption{
      color: #d0975e; 
    font-size: 22px;
    font-family: 'IM Fell English', serif;
   
}

.num {
    font-family: 'IM Fell English', serif;
    font-size: 80px;
    padding: 0;
    margin: 0;
    line-height: 30px;
    color: #d0975e;
    
}

#article-list{
 color:   #d0975e;
text-align:left;
    padding-left: 70px;
    
}

#article-list li{
    margin:0;
    height: 25px;
}

#article-list li a{
    font-size: 20px;
    font-size: 20px;
    display: block;
    text-align: left;
    color: burlywood;
    padding-left: 20px;
    padding-top: 0px;
    
    
    
}

#center p a{
    font-size: 18px;
    line-height:30px;
    
}

#center p a:hover{
    font-size: 18px;
    color:   #d0975e;
}

#article-list a:hover{
    font-size: 20px;
    color:   #d0975e;
    
}


table, th, td{
    background-color: #A14D34;   
    text-align: center;
    margin: 0 auto;
    border: groove 1px black;
}

table td img{
    width: 75px;
    height: 80px;
}