        body {
            background: url(../images/tiledbg.png);
            background-repeat: repeat;
            font-family:sans-serif;
            background-position: top;
        }
        h1{
            font-family: 'IM Fell English', serif;
             text-transform:uppercase;  
            font-size: 37px;
            padding:0;
            margin:15;
            color: #D8A46B;
            
     
        }

h1 a{
    text-decoration: none;
    color: #D8A46B;
}

        #title{
            color: burlywood;
        }
        #container{
            max-width:950px;
            margin: 0 auto;
            position:relative;
        }
        #canvas-container{
            display:inline;
            margin: 0 auto;
            position:relative;
        }
        #stage { 
            display:none;
            position:relative;
            border: 2px black solid;
            float:left;
            
        }
        #center a{
            font-size: 40px;
            color:burlywood;
            text-decoration: none;
            text-align: center;
            line-height: 80px;
        }

        #center a:hover{
             color: #eee1c2;
        }


        #center form{
            padding-top: 30px;
             font-size: 20px;
            color:burlywood;
            text-decoration: none;
            text-align: center;
            padding-top:-30px; 
            margin-top: 0;
            line-height: 30px;
        }
        #center button {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 200px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 10px;
            background-color: #ffd266;
            border-width:0px;
            border-radius: 5px;
        }

        #center button:hover {
            background-color: #d37f35;
            cursor: pointer;
        }

        #center h1{
            padding-top:15px;
            font-size: 50px;
        }
        #center{
            display:inline;
            border: 2px black solid;
            float:left;
            height: 600px;
            overflow-y:scroll;
            width:600px;
            text-align:center;
            background: url(../images/background_darker.jpg);
            background-size: 600px 600px;
        }

#center p{
 text-align:left;
    line-height:22px;
    color:burlywood;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
}

#center h3{
    color:burlywood;
    line-height:25px;
    text-align:left;
    padding-left:20px;
    padding-right:20px;
}

        #waiting {
            color:rgba(242, 192, 64);
            text-align:center;
        }

        #waiting h3{ 
            text-align:center;
        }

        #player1 {
            display:inline;
            font-family: sans-serif;
            font-size: 15px;
            font-weight: bold;
            float:left;
            word-wrap: break-word;
            width:150px;
            height: 610px;
            padding-left: 15px;
            margin: 0 auto;
            background: url(../images/side1_new.png);
            background-size: 150px 620px;
        }
        #player2 {
            display:inline;
            font-family: sans-serif;
            font-size: 15px;
            font-weight: bold;
            float:left;
            word-wrap: break-word;
            text-align:left;
            width:150px;
            height: 610px;
            padding-left: 15px;
             background: url(../images/side2_new.png);
             background-size: 150px 620px;
        }
  
        .avatar img{
            width:120px;
            height:120px;
        }
        .avatar {
            height:140px;
            width:120px;
            border: 2px solid #A14D34;
            background-color: #A14D34;
            color: #d0975e;
            text-align:center;
            font-weight:normal;
            font-size: 10pt;
            
        }
        .avatar p {
            padding-top:5px;
            margin:0;
        }
        #topleft{
            float:left;
        }
        img.trim{
            width:160px;
            height: 70px;
        }
        header {
            width:605px;
            float:left;
            height:70px;
            background: url(../images/midde_top_header_bg.png);
            padding:0;
            text-align:center;

        }
        footer {
            float:left;
            width:605px;
            height:70px;
            color: #D8A46B;
            line-height:77px;
            font-size:40px;
            text-align:center;
            background: url(../images/middle_bottom_footer_bg.png);
        }

        footer a{
            color: #D8A46B;
            text-decoration: none;
            padding-top:20px;
            padding-left: 50px;
            padding-right:50px;
             font-family: 'IM Fell English', serif;
             text-transform:uppercase; 

}
        #topbar{
            top:0; 
            width: 925px;
            border: 5px solid #D8A46B;
        }
        #bottombar{
            border: 5px solid #D8A46B;
           display:inline-block;
            left: 0px;
            margin-top: -5;
            width:925px;
        }
        #bottomleft{
         float:left;

 
           
        }

        .update {
            color: #A14D34;
            font-size: 25pt;
            text-transform: uppercase;
            font-family: 'IM Fell English', serif;
        
        }
        #hidden-table{
            visibility:hidden;
        }

.btn {
  background: #A14D34;
  background-image: -webkit-linear-gradient(top, #A14D34, #57340f);
  background-image: -moz-linear-gradient(top, #A14D34, #57340f);
  background-image: -ms-linear-gradient(top, #A14D34, #57340f);
  background-image: -o-linear-gradient(top, #A14D34, #57340f);
  background-image: linear-gradient(to bottom, #A14D34, #57340f);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 3px #ebc373;
  -moz-box-shadow: 0px 1px 3px #ebc373;
  box-shadow: 0px 1px 3px #ebc373;
  font-family: Arial;
  color: #D8A46B;
  font-size: 20px;
  padding: 10px 20px 30px 20px;
  border: solid #d9b46a 1px;
  text-decoration: none;
}

.btn:hover {
  background: #74421d;
  text-decoration: none;
    

}

.playagain {
    visibility: hidden;
    font-size: 20px;
    width: 120px;
    margin-top: 15px;
    padding-top: 1px;
    background: #5c2a13;
    color: #D8A46B;
    border: solid #d9b46a 1px;
    font-family: 'IM Fell English', serif;
    
}

.playagain:hover {
    background: #7a340d;
    
}

input    {
width:200px;
border: 1px solid #999;
    font-size: 20px;
height: 40px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#center p.playercount {
 font-size: 15px;
   text-align:center;
}

figcaption{
      color: #d0975e; 
    font-size: 22px;
    font-family: 'IM Fell English', serif;
   
}

.num {
    font-family: 'IM Fell English', serif;
    font-size: 80px;
    padding: 0;
    margin: 0;
    line-height: 30px;
    color: #d0975e;
    
}

#article-list{
 color:   #d0975e;
text-align:left;
    padding-left: 70px;
    
}

#article-list li{
    margin:0;
    height: 25px;
}

#article-list li a{
    font-size: 20px;
    font-size: 20px;
    display: block;
    text-align: left;
    color: burlywood;
    padding-left: 20px;
    padding-top: 0px;
    
    
    
}

#center p a{
    font-size: 18px;
    line-height:30px;
    
}

#center p a:hover{
    font-size: 18px;
    color:   #d0975e;
}

#article-list a:hover{
    font-size: 20px;
    color:   #d0975e;
    
}


table, th, td{
    background-color: #A14D34;   
    text-align: center;
    margin: 0 auto;
    border: groove 1px black;
}

table td img{
    width: 75px;
    height: 80px;
}